simple-use-case/src/main/resources/META-INF/wsdl/CustomerAccount_2_0.wsdl

<wsdl:definitions name="CustomerAccount_2_0" targetNamespace="http://www.videotron.com/EsbCustomerInformationManagement/CustomerAccount/2_0" xmlns:tns1="http://www.videotron.com/EsbCustomerInformationManagement/CustomerAccount/2_0" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://www.videotron.com/EsbCustomerInformationManagement/CustomerAccount/2_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:HDR2="http://www.videotron.com/EsbCustomerInformationManagement.doc.responseHeader.Header" xmlns:HDR3="http://www.videotron.com/EsbCustomerInformationManagement.doc.requestHeader.Header" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://www.videotron.com/ENT_Customer/Customer/2.0" xmlns:tns3="http://www.videotron.com/ENT_Customer/Customer/2.0">
         <xsd:element name="contactPointType" type="xsd:string"/>
         <xsd:element name="contactMedium" type="tns3:ContactMedium_v2"/>
         <xsd:element name="individual" type="tns3:Individual_v2"/>
         <xsd:element name="organization" type="tns3:Organization_v2"/>
         <xsd:element name="partyContact" type="tns3:PartyContact_v2"/>
         <xsd:element name="email" type="tns3:Email_v2"/>
         <xsd:element name="postalAddress" type="tns3:PostalAddress_v2"/>
         <xsd:element name="phone" type="tns3:Phone_v2"/>
         <xsd:element name="party" type="tns3:Party_v2"/>
         <xsd:element name="id" type="xsd:string"/>
         <xsd:element name="firstName" type="xsd:string"/>
         <xsd:element name="lastName" type="xsd:string"/>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:element name="emailAddress" type="xsd:string"/>
         <xsd:element name="civicNumber" type="xsd:string"/>
         <xsd:element name="civicSuffixNumber" type="xsd:string"/>
         <xsd:element name="street" type="xsd:string"/>
         <xsd:element name="streetType" type="xsd:string"/>
         <xsd:element name="streetDirection" type="xsd:string"/>
         <xsd:element name="localNumber" type="xsd:string"/>
         <xsd:element name="residenceType">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="COMMERCIAL"/>
                  <xsd:enumeration value="RESIDENTIAL"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="potentielId" type="xsd:string"/>
         <xsd:element name="municipality" type="xsd:string"/>
         <xsd:element name="localCode">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="APARTMENT"/>
                  <xsd:enumeration value="CIVICADDRESS"/>
                  <xsd:enumeration value="N/A"/>
                  <xsd:enumeration value="OFFICE"/>
                  <xsd:enumeration value="PIECE"/>
                  <xsd:enumeration value="ROOM"/>
                  <xsd:enumeration value="SUITE"/>
                  <xsd:enumeration value="UNIT"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="sector" type="xsd:string"/>
         <xsd:element name="provinceCode" type="xsd:string"/>
         <xsd:element name="postalCode" type="xsd:string"/>
         <xsd:element name="countryCode" type="xsd:string"/>
         <xsd:element name="phoneNumber" type="xsd:string"/>
         <xsd:element name="preferredLanguage">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="EN"/>
                  <xsd:enumeration value="FR"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="isInPerception" type="xsd:boolean"/>
         <xsd:element name="currentBalanceAmount" type="xsd:decimal"/>
         <xsd:element name="isSeasonal" type="xsd:boolean"/>
         <xsd:element name="status">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="ACTIVE"/>
                  <xsd:enumeration value="INACTIVE"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="orderInProgress" type="xsd:boolean"/>
         <xsd:element name="sgaAccountNumber" type="xsd:string"/>
         <xsd:element name="billPaymentMethod">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="CREDITCARD"/>
                  <xsd:enumeration value="DEBITCARD"/>
                  <xsd:enumeration value="PAYBYINVOICE"/>
                  <xsd:enumeration value="PREAUTHORIZEDDEBIT"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="billDeliveryMethod">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="POSTAL"/>
                  <xsd:enumeration value="EMAILNOTIFICATION"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="billDay" type="xsd:string"/>
         <xsd:element name="isMonthly" type="xsd:boolean"/>
         <xsd:element name="customerBillSpec" type="tns3:CustomerBillSpec_v2"/>
         <xsd:element name="productFamily" type="tns3:ProductFamily_v2"/>
         <xsd:element name="customerAccountContact" type="tns3:CustomerAccountContact_v2"/>
         <xsd:element name="billDate" type="xsd:date"/>
         <xsd:element name="paymentDueDate" type="xsd:date"/>
         <xsd:element name="billAmount" type="xsd:decimal"/>
         <xsd:element name="billPeriodStartDate" type="xsd:date"/>
         <xsd:element name="billPeriodEndDate" type="xsd:date"/>
         <xsd:element name="customerBill" type="tns3:CustomerBill_v2"/>
         <xsd:element name="customerAccount" type="tns3:CustomerAccount_v2"/>
         <xsd:element name="paymentDate" type="xsd:date"/>
         <xsd:element name="paymentAmount" type="xsd:decimal"/>
         <xsd:element name="customerPayment" type="tns3:CustomerPayment_v2"/>
         <xsd:element name="creditRiskRating">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="ATRISK"/>
                  <xsd:enumeration value="AVERAGE"/>
                  <xsd:enumeration value="GOOD"/>
                  <xsd:enumeration value="NEW"/>
                  <xsd:enumeration value="NONE"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="customerCreditProfile" type="tns3:CustomerCreditProfile_v2"/>
         <xsd:element name="customer" type="tns3:Customer_v2"/>
         <xsd:element name="customerInput" type="tns3:CustomerInput"/>
         <xsd:element name="creditCardType">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="INVALID"/>
                  <xsd:enumeration value="MASTERCARD"/>
                  <xsd:enumeration value="VISA"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="securedDisplayNumber" type="xsd:string"/>
         <xsd:element name="expiredMtYr" type="xsd:string"/>
         <xsd:element name="nameOnCard" type="xsd:string"/>
         <xsd:element name="bankId" type="xsd:string"/>
         <xsd:element name="bankTransitId" type="xsd:string"/>
         <xsd:element name="securedDisplayAccountId" type="xsd:string"/>
         <xsd:element name="accountOwnerName" type="xsd:string"/>
         <xsd:element name="creditCardPM" type="tns3:CreditCardPM_v2"/>
         <xsd:element name="bankAccountDebitPM" type="tns3:BankAccountDebitPM_v2"/>
         <xsd:complexType name="Email_v2">
            <xsd:sequence>
               <xsd:element ref="tns3:emailAddress"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="PostalAddress_v2">
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="tns3:civicNumber"/>
               <xsd:element minOccurs="0" ref="tns3:civicSuffixNumber"/>
               <xsd:element minOccurs="0" ref="tns3:street"/>
               <xsd:element minOccurs="0" ref="tns3:streetType"/>
               <xsd:element minOccurs="0" ref="tns3:streetDirection"/>
               <xsd:element minOccurs="0" ref="tns3:localNumber"/>
               <xsd:element minOccurs="0" ref="tns3:residenceType"/>
               <xsd:element minOccurs="0" ref="tns3:potentielId"/>
               <xsd:element minOccurs="0" ref="tns3:municipality"/>
               <xsd:element minOccurs="0" ref="tns3:localCode"/>
               <xsd:element minOccurs="0" ref="tns3:sector"/>
               <xsd:element minOccurs="0" ref="tns3:provinceCode"/>
               <xsd:element minOccurs="0" ref="tns3:postalCode"/>
               <xsd:element minOccurs="0" ref="tns3:countryCode"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Phone_v2">
            <xsd:sequence>
               <xsd:element ref="tns3:phoneNumber"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Customer_v2">
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="tns3:party"/>
               <xsd:element ref="tns3:id"/>
               <xsd:element ref="tns3:preferredLanguage"/>
               <xsd:element ref="tns3:isInPerception"/>
               <xsd:element maxOccurs="unbounded" ref="tns3:customerAccount"/>
               <xsd:element minOccurs="0" ref="tns3:customerCreditProfile"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="PartyContact_v2">
            <xsd:sequence>
               <xsd:element name="contactPointType">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="HOMEPHONE"/>
                        <xsd:enumeration value="WORKPHONE"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:choice>
                  <xsd:element ref="tns3:email"/>
                  <xsd:element ref="tns3:phone"/>
                  <xsd:element ref="tns3:postalAddress"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="media" type="xsd:string"/>
         </xsd:complexType>
         <xsd:complexType name="ContactMedium_v2">
            <xsd:sequence/>
         </xsd:complexType>
         <xsd:complexType name="Individual_v2">
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="tns3:firstName"/>
               <xsd:element minOccurs="0" ref="tns3:lastName"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Organization_v2">
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="tns3:name"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Party_v2">
            <xsd:sequence>
               <xsd:choice>
                  <xsd:element ref="tns3:individual"/>
                  <xsd:element ref="tns3:organization"/>
               </xsd:choice>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns3:partyContact"/>
            </xsd:sequence>
            <xsd:attribute name="type">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="INDIVIDUAL"/>
                     <xsd:enumeration value="ORGANIZATION"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:attribute>
         </xsd:complexType>
         <xsd:complexType name="CustomerAccount_v2">
            <xsd:sequence>
               <xsd:element ref="tns3:id"/>
               <xsd:element minOccurs="0" ref="tns3:currentBalanceAmount"/>
               <xsd:element minOccurs="0" ref="tns3:isSeasonal"/>
               <xsd:element minOccurs="0" ref="tns3:status"/>
               <xsd:element minOccurs="0" ref="tns3:orderInProgress"/>
               <xsd:element minOccurs="0" ref="tns3:sgaAccountNumber"/>
               <xsd:element minOccurs="0" ref="tns3:customerBillSpec"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns3:productFamily"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns3:customerAccountContact"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns3:customerBill"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns3:customerPayment"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CustomerInput">
            <xsd:sequence>
               <xsd:element name="party">
                  <xsd:complexType>
                     <xsd:attribute name="type">
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="INDIVIDUAL"/>
                              <xsd:enumeration value="ORGANIZATION"/>
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:attribute>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="customerAccount">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="customerBillSpec">
                           <xsd:complexType>
                              <xsd:sequence>
                                 <xsd:element name="billDeliveryMethod" type="xsd:string"/>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="customerAccountContact">
                           <xsd:complexType>
                              <xsd:sequence>
                                 <xsd:element name="contactPointType">
                                    <xsd:simpleType>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:enumeration value="BILLINGEMAIL"/>
                                          <xsd:enumeration value="CONTACTEMAIL"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="emailAddress" type="xsd:string"/>
                              </xsd:sequence>
                              <xsd:attribute name="media" type="xsd:string"/>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CustomerBillSpec_v2">
            <xsd:sequence>
               <xsd:element ref="tns3:billPaymentMethod"/>
               <xsd:element ref="tns3:billDeliveryMethod"/>
               <xsd:element ref="tns3:billDay"/>
               <xsd:element ref="tns3:isMonthly"/>
               <xsd:element minOccurs="0" ref="tns3:creditCardPM"/>
               <xsd:element minOccurs="0" ref="tns3:bankAccountDebitPM"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ProductFamily_v2">
            <xsd:sequence>
               <xsd:element name="id">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="TELEVISION"/>
                        <xsd:enumeration value="INTERNET"/>
                        <xsd:enumeration value="TELEPHONY"/>
                        <xsd:enumeration value="MOBILE"/>
                        <xsd:enumeration value="ILLICO"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CustomerAccountContact_v2">
            <xsd:sequence>
               <xsd:element name="contactPointType">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="BILLINGADDRESS"/>
                        <xsd:enumeration value="BILLINGEMAIL"/>
                        <xsd:enumeration value="CONTACTEMAIL"/>
                        <xsd:enumeration value="SERVICEADDRESS"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:choice>
                  <xsd:element ref="tns3:email"/>
                  <xsd:element ref="tns3:phone"/>
                  <xsd:element ref="tns3:postalAddress"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="media" type="xsd:string"/>
         </xsd:complexType>
         <xsd:complexType name="CustomerBill_v2">
            <xsd:sequence>
               <xsd:element ref="tns3:id"/>
               <xsd:element ref="tns3:billDate"/>
               <xsd:element ref="tns3:paymentDueDate"/>
               <xsd:element ref="tns3:billAmount"/>
               <xsd:element ref="tns3:billPeriodStartDate"/>
               <xsd:element ref="tns3:billPeriodEndDate"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CreditCardPM_v2">
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="tns3:creditCardType"/>
               <xsd:element ref="tns3:securedDisplayNumber"/>
               <xsd:element ref="tns3:expiredMtYr"/>
               <xsd:element minOccurs="0" ref="tns3:nameOnCard"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BankAccountDebitPM_v2">
            <xsd:sequence>
               <xsd:element ref="tns3:bankId"/>
               <xsd:element ref="tns3:bankTransitId"/>
               <xsd:element ref="tns3:securedDisplayAccountId"/>
               <xsd:element minOccurs="0" ref="tns3:accountOwnerName"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CustomerPayment_v2">
            <xsd:sequence>
               <xsd:element ref="tns3:paymentDate"/>
               <xsd:element ref="tns3:paymentAmount"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CustomerCreditProfile_v2">
            <xsd:sequence>
               <xsd:element ref="tns3:creditRiskRating"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
      <xsd:schema targetNamespace="http://www.videotron.com/EsbCustomerInformationManagement.doc.responseHeader.Header" xmlns:tns="http://www.videotron.com/EsbCustomerInformationManagement.doc.responseHeader.Header">
         <xsd:element name="h2" type="tns:Header"/>
         <xsd:element name="transactionId" type="xsd:string"/>
         <xsd:element name="requestorPlatform" type="xsd:string"/>
         <xsd:element name="executionElapseTime" type="xsd:string"/>
         <xsd:element name="executionDateTime" type="xsd:dateTime"/>
         <xsd:element name="Header" type="tns:Header2"/>
         <xsd:complexType name="Header">
            <xsd:sequence>
               <xsd:element ref="tns:Header"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Header2">
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="tns:transactionId"/>
               <xsd:element minOccurs="0" ref="tns:requestorPlatform"/>
               <xsd:element minOccurs="0" ref="tns:executionElapseTime"/>
               <xsd:element minOccurs="0" ref="tns:executionDateTime"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
      <xsd:schema targetNamespace="http://www.videotron.com/EsbCustomerInformationManagement/CustomerAccount/2_0" xmlns:tns2="http://www.videotron.com/EsbCustomerInformationManagement/CustomerAccount/2_0" xmlns:tns3="http://www.videotron.com/ENT_Customer/Customer/2.0">
         <xsd:import namespace="http://www.videotron.com/ENT_Customer/Customer/2.0"/>
         <xsd:element name="getCustomerAccount_In" type="tns2:getCustomerAccount_In"/>
         <xsd:element name="getCustomerAccount_Out" type="tns2:getCustomerAccount_Out"/>
         <xsd:element name="setCustomerAccount_In" type="tns2:setCustomerAccount_In"/>
         <xsd:element name="setCustomerAccount_Out" type="tns2:setCustomerAccount_Out"/>
         <!--<xsd:element name="Fault" type="tns2:SOAP_FAULT"/>-->
         <xsd:complexType name="getCustomerAccount_In">
            <xsd:sequence>
               <xsd:element name="customerAccountNo" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="getCustomerAccount_Out">
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="tns3:customer"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="setCustomerAccount_In">
            <xsd:sequence>
               <xsd:element minOccurs="1" ref="tns3:customerInput"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="setCustomerAccount_Out">
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="tns3:customerInput"/>
            </xsd:sequence>
         </xsd:complexType>
         <!--<xsd:complexType name="SOAP_FAULT">
            <xsd:sequence>
              <xsd:element name="code" type="tns2:code"/>
              <xsd:element maxOccurs="unbounded" name="reasons" type="tns:reasons"/>
              <xsd:element minOccurs="0" name="node" type="xsd:string"/>
              <xsd:element minOccurs="0" name="role" type="xsd:string"/>
              <xsd:element minOccurs="0" name="detail" type="tns2:detail"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="code">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="namespaceName" type="xsd:string"/>
              <xsd:element name="localName" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="subCodes" type="tns2:subCodes"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="subCodes">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="namespaceName" type="xsd:string"/>
              <xsd:element name="localName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType mixed="true" name="reasons">
            <xsd:attribute name="lang" type="xsd:string"/>
          </xsd:complexType>
          <xsd:complexType name="detail">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>-->
      </xsd:schema>
      <xsd:schema targetNamespace="http://www.videotron.com/EsbCustomerInformationManagement.doc.requestHeader.Header" xmlns:tns4="http://www.videotron.com/EsbCustomerInformationManagement.doc.requestHeader.Header">
         <xsd:element name="header" type="tns4:Header"/>
         <xsd:element name="transactionId" type="xsd:string"/>
         <xsd:element name="transactionStartDateTime" type="xsd:dateTime"/>
         <xsd:element name="transactionExpirationDateTime" type="xsd:dateTime"/>
         <xsd:element name="requestorPlatform" type="xsd:string"/>
         <xsd:complexType name="Header">
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="tns4:transactionId"/>
               <xsd:element minOccurs="0" ref="tns4:transactionStartDateTime"/>
               <xsd:element minOccurs="0" ref="tns4:transactionExpirationDateTime"/>
               <xsd:element minOccurs="0" ref="tns4:requestorPlatform"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="CustomerAccount_PortType_setCustomerAccount_Out">
      <wsdl:part name="parameters" element="tns1:setCustomerAccount_Out"/>
      <wsdl:part name="header" element="HDR2:h2"/>
   </wsdl:message>
   <wsdl:message name="CustomerAccount_PortType_setCustomerAccount_In">
      <wsdl:part name="parameters" element="tns1:setCustomerAccount_In"/>
      <wsdl:part name="header" element="HDR3:header"/>
   </wsdl:message>
   <wsdl:message name="CustomerAccount_PortType_getCustomerAccount_Out">
      <wsdl:part name="parameters" element="tns1:getCustomerAccount_Out"/>
      <wsdl:part name="header" element="HDR2:h2"/>
   </wsdl:message>
   <wsdl:message name="CustomerAccount_PortType_getCustomerAccount_In">
      <wsdl:part name="parameters" element="tns1:getCustomerAccount_In"/>
      <wsdl:part name="header" element="HDR3:header"/>
   </wsdl:message>
   <wsdl:portType name="CustomerAccount_PortType">
      <wsdl:operation name="getCustomerAccount">
         <wsdl:input message="tns1:CustomerAccount_PortType_getCustomerAccount_In"/>
         <wsdl:output message="tns1:CustomerAccount_PortType_getCustomerAccount_Out"/>
      </wsdl:operation>
      <wsdl:operation name="setCustomerAccount">
         <wsdl:input message="tns1:CustomerAccount_PortType_setCustomerAccount_In"/>
         <wsdl:output message="tns1:CustomerAccount_PortType_setCustomerAccount_Out"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EsbCustomerInformationManagement_CustomerAccount_CustomerAccount_Binder" type="tns1:CustomerAccount_PortType">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCustomerAccount">
         <soap12:operation soapAction="CustomerAccount_getCustomerAccount" soapActionRequired="true" style="document"/>
         <wsdl:input>
            <soap12:body parts="parameters" use="literal"/>
            <soap12:header message="tns1:CustomerAccount_PortType_getCustomerAccount_In" part="header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body parts="parameters" use="literal"/>
            <soap12:header message="tns1:CustomerAccount_PortType_getCustomerAccount_Out" part="header" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setCustomerAccount">
         <soap:operation soapAction="CustomerAccount_setCustomerAccount" style="document"/>
         <wsdl:input>
            <soap12:body parts="parameters" use="literal"/>
            <soap12:header message="tns1:CustomerAccount_PortType_setCustomerAccount_In" part="header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body parts="parameters" use="literal"/>
            <soap12:header message="tns1:CustomerAccount_PortType_setCustomerAccount_Out" part="header" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EsbCustomerInformationManagement.CustomerAccount.CustomerAccount_2_0">
      <wsdl:port name="EsbCustomerInformationManagement_CustomerAccount_CustomerAccount_Port" binding="tns1:EsbCustomerInformationManagement_CustomerAccount_CustomerAccount_Binder">
         <soap12:address location="http://0.0.0.0:9393/ws/EsbCustomerInformationManagement.CustomerAccount.CustomerAccount_2_0/EsbCustomerInformationManagement_CustomerAccount_CustomerAccount_Port"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>